<footer class="footer">
  <small>
    The Twitter Clone from Ruby on Rails Tutorial
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://ferz.co/">FerzCo</a></li>
    </ul>
  </nav>
</footer>